/* .animal {
  flex-basis: 50%;
  flex-grow: 1;
}
 */

 .animalslist p {
  font-size: 1.5rem;
 }

 .animalsIndex img {
  height: 10rem;
  padding: 2rem
}

.animalsIndex .animalName, .animal-name ,.animal-form h1 {
  color: white;
  font-family: 'Ranchers', cursive;
  font-size: 3rem;

}

.animalsIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.animalsbackground {
  background-color: #f06592;
  height: 100vh;
}

.indexAnimal {
  display: flex;
  flex-direction: column;
  width: 25rem;
  align-items: center;
  justify-content: center;
}

.animal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .2rem;
}

.animal-header {
  margin: 2rem;
}

.food-img {
  width: 5rem;
}

.animal-image-main {
  width: 33vw;
  background-color: blue;
}

.foodbackground {
  background-color: white;
  height: 20rem;
  width: 20rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}

.editbutton {
  padding: .5rem 1rem;
  font-size: 1.2rem;
  border-width: 2px;
}

.addtopantry {
  font-size: 1.2rem;
  padding: .7rem;
}

.foodname {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newfoodform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem
}


.animal-form {
  background-color: #f06592;
  height: 100vh;
}
.animal-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form-submit {
  font-size: 1.2rem;
  width: 20%;
}
.formLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.labeltext {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 0px #65489d;
  font-weight: bold;
  font-style: italic;
  display: flex;
  text-align: right;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.dropdown {
  font-size: 1rem;
  padding: .2rem;
}

.foodgrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}