.animalslist p {
  font-size: 1.5rem;
}

.animalsIndex img {
  height: 10rem;
  margin: 2rem;
}

.animalsIndex .animalName,
.animal-form h1 {
  color: white;
  font-family: "Ranchers", cursive;
  font-size: 3rem;
}

.animalsIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.animalsbackground {
  background-color: #f06592;
  height: auto;
  min-height: 70vh;
}

.indexAnimal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 720px) {
  .animal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.2rem;
  background-color: #f06592;
}
}

@media (max-width: 720px) {
  .animal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.2rem;
  background-color: #f06592;
}
}

.animal-header {
  margin: 2rem;
}


.homepage-image {
  height: 25vh;
}

.showpage-image {
  height: 70vh;
}

.editbutton {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-width: 2px;
}

.addtopantry {
  font-size: 1.2rem;
  padding: 0.7rem;
}

.foodname {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.animal-form {
  background-color: #f06592;
  height: 100vh;
}

.animal-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form-submit {
  font-size: 1.2rem;
  width: 20%;
}

@media (min-width: 1100px) {
.formLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
}

@media (max-width: 1100px) {
.formLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
}

.labeltext {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 0px #65489d;
  font-weight: bold;
  font-style: italic;
  display: flex;
  text-align: right;
  justify-content: center;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown {
  font-size: 1rem;
  padding: 0.2rem;
}

.foodbackground {
  background-color: white;
  height: 20rem;
  width: 20rem;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .foodgrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem 1rem 1rem 1.8rem;
} */


/* .foodgrid div {
  width: 4em;
} */

.formcolorbox {
  width:1rem;
  height: 1rem;
}

.nofoodsyet {
  align-self: center;
  font-family: "schoolbell-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #65489d;
  font-size: 2rem;
}

.hungerlevel {
  padding: 1rem;
  font-size: 1rem;
}

.animal-name, .hungerlevel {
  color: white;
  font-family: "Ranchers", cursive;
}

.animal-name {
  font-size: 3rem;
}

.hungerlevel {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clicktofeed {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 50%;
}

.dog-eating {
  height: 60vh;
}