/* @media (max-width: 2000px) {
.homepage {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 0px #65489d;
  font-weight: bold;
  font-style: italic;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f06592;
}
} */

@media (min-width: 720px) {
  .homepage {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 0px #65489d;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f06592;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

  }
}

.home-animallist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33vw;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
}

.centerlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

@media (max-width: 2000px) {
  .home-animal {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100%;
    align-items: center;
    gap: 1rem;
    /* padding-top: 2rem; */
  }
}

@media (min-width: 2000px) {
  .home-animal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 1100px) {
  .home-animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.home-animal div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homepage h1 {
  font-family: "Ranchers", cursive;
}

.home-adopt,
.homeheaders {
  cursor: pointer;
}

.homeheaders {
  text-decoration: underline;
}

.home-adopt img {
  height: 30rem;
}

.belowAbout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}


.homepageborder {
    border: 3px solid #d4d0c7;
}