.homepage {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 0px #65489d;
  font-weight: bold;
  font-style: italic;
  display: flex;
  justify-content: space-around;
}

.home-animallist {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  width: 33vw;
  align-items: center;
  justify-content: space-around;
}

.homepage h1 {
  font-family: 'Ranchers', cursive;
}

.home-adopt, .homeheaders {
  cursor: pointer;
}
.home-adopt img{
  width: 33vw
}