.homepage {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 0px #65489d;
  font-weight: bold;
  font-style: italic;
  display: flex;
  justify-content: space-around;
}

.home-animallist {
  display: flex;
  flex-wrap: wrap;
  width: 33vw;
  align-items: center;
  justify-content: space-around;
}

.home-animal {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  align-items: center;
}
.home-animal div {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.homepage h1 {
  font-family: 'Ranchers', cursive;
}

.home-adopt, .homeheaders {
  cursor: pointer;
}
.home-adopt img{
  width: 33vw
}

.home-animallist img {
  width: 6rem;
}

