/* * {
  border: 2px solid pink;
} */

.App {
  text-align: center;
  background-color: #f06592;
  height: 100dvh;
}

button {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button, .purplebutton, .form-submit, .dropdown {
  color: white;
  background-color: #65489d;
  text-decoration: underline;
  font-family: "schoolbell-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer {
  padding: 5rem 0 2rem 0;
  color: black;
  background-color: #f06592;
  width: 100%;
  text-align: center;
}