.header {
  width: 100%;
  background-color: #65489d;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-title {
  margin: none;
  font-family: "puffin-arcade-liquid", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: white;
  font-size: 15vw;
  text-decoration: none;
  padding-top: .8rem;
}

.header-nav {
  font-family: 'Ranchers', cursive;
  color: white;
  font-size: 5vw;
}